@import "./index.scss";

p{
    font-size: var(--lit);
    margin: 0;
    font-weight: var(--weight);
}

h2{
    font-size: var(--mid);
    margin: 0;
    font-weight: var(--weight);
}

h1{
    font-size: var(--big);
    margin: 0;
    font-weight: calc(var(--weight) + 100);
}

button{
    background-color: var(--color2);
    border-radius: var(--big-radius);
    padding: var(--mid-padding);
    font-size: var(--lit);
    border: 0;
    color: var(--text-color1);
    cursor: pointer;
    transition: ease 0.2s;

    &:hover{
        scale: 1.02;
    }

    &.next{
        position: absolute;
        bottom: var(--absolute);
        right: var(--absolute);
    }
    
}

input{
    background-color: var(--color2);
    border-radius: var(--mid-radius);
    padding: var(--mid-padding);
    font-size: var(--lit);
    border: 0;
    color: var(--text-color1);
    width: 100%;
}

.lg-container{
    width: var(--lg-container);
    max-width : var(--max-width);
    margin: 0 auto;
}

.container{
    width: var(--container);
    max-width : var(--max-width);
    margin: 0 auto;
}

.logo{
    position: fixed;
    top: var(--absolute);
    left: var(--absolute);
    z-index: 1;
}

.infos{
    position: fixed;
    bottom: var(--absolute);
    left: var(--absolute);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--mid-margin);
    z-index: 1;
}

svg.icon path{
    fill: var(--color3);
}
