@import "../../index.scss";

.question{
    background-color: var(--color2);
    border-radius: var(--big-radius);
    padding: var(--mid-padding);
    font-size: var(--lit);
    border: 0;
    color: var(--text-color1);
    width: 100%;
}

